<%- include("header") %> 

<div class="search-section">
    <h1 class="big-heading text-center">About</h1>
    <div class="putdown">
         <h4>CryptoDash</h4>
         <h6>v1.0</h6>
    </div>
    <p class="aboutp"> CryptoDash is a dashboard developed by <a href="https://www.facebook.com/dewesh.soc/">Dewesh Jha</a> (TMSL, Kolkata) and <a href="https://www.facebook.com/sheikhfayeem.uddin">SK Fayeemuddin</a> (TAT, Bhubneshwar) as an attempt to analyse cryptocurrencies and explore the at-boom crypto market. <br><br> It is an internship project developed under guidance of : <br> <a href="#">Mr Rahul Anand</a> (Sr Analyst, ITS Dept, TATA STEEL). <br><br> The dashboard will be constantly updated time to time with better features. It is for any personal non-profit use related to cryptocurrencies but not for any commercial use. </p>
</div>






</div>

<%- include("footer") %> 